<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.example.android.a20april2listview">
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="27"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:theme="@style/AppTheme" android:label="Your Name Here" android:icon="@mipmap/seneca" android:debuggable="true" android:allowBackup="true" android:supportsRtl="true" android:fullBackupContent="true">
        <activity android:name="com.example.android.a20april2listview.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.android.a20april2listview.Details"/>
    </application>
</manifest>
